<% if session.fetch(:user_id) != nil%>
<div>
  <div>
    <h1>
      List of all subjects
    </h1>
  </div>
</div>

<hr>

<div>
  
</div>

<hr>
<div>
  <div>
    <table>
      <tr>


        <th>
          Couse Number
        </th>

        <th>
          Subject Name
        </th>
      </tr>

      <% @list_of_subjects.each do |a_subject| %>
      <tr>
        
        <td>
          <%= a_subject.subject_course_num %>
        </td>

        <td>
          <%= a_subject.name %>
        </td>

        

        
      </tr>
      <% end %>
    </table>
  </div>
</div>
  <%else%>
    <a href="/user_sign_in">You must sign in first </a>
  <%end%>
<hr>
